@tailwind base;
@tailwind components;
@tailwind utilities;

.my-placeholder {
	color: gray;
	font-style: italic;
}

.my-final-div {
	width: 50px;
	height: 50px;
	color: white;
	background-color: red;
	display: inline-block;
}

@layer base {
	:root {
		--tw-prose-bold: white;
		--background: 0 0% 100%;
		--foreground: 240 10% 3.9%;
		--card: 0 0% 100%;
		--card-foreground: 240 10% 3.9%;
		--popover: 0 0% 100%;
		--popover-foreground: 240 10% 3.9%;
		--primary: 240 5.9% 10%;
		--primary-foreground: 0 0% 98%;
		--secondary: 240 4.8% 95.9%;
		--secondary-foreground: 240 5.9% 10%;
		--muted: 240 4.8% 95.9%;
		--muted-foreground: 240 3.8% 46.1%;
		--accent: 240 4.8% 95.9%;
		--accent-foreground: 240 5.9% 10%;
		--destructive: 0 84.2% 60.2%;
		--destructive-foreground: 0 0% 98%;
		--border: 240 5.9% 90%;
		--input: 240 5.9% 90%;
		--ring: 240 10% 3.9%;
		--radius: 0.5rem;
		--chart-1: 12 76% 61%;
		--chart-2: 173 58% 39%;
		--chart-3: 197 37% 24%;
		--chart-4: 43 74% 66%;
		--chart-5: 27 87% 67%;
	}

	.dark {
		--background: 240 10% 3.9%;
		--foreground: 0 0% 98%;
		--card: 240 10% 3.9%;
		--card-foreground: 0 0% 98%;
		--popover: 240 10% 3.9%;
		--popover-foreground: 0 0% 98%;
		--primary: 0 0% 98%;
		--primary-foreground: 240 5.9% 10%;
		--secondary: 240 3.7% 15.9%;
		--secondary-foreground: 0 0% 98%;
		--muted: 240 3.7% 15.9%;
		--muted-foreground: 240 5% 64.9%;
		--accent: 240 3.7% 15.9%;
		--accent-foreground: 0 0% 98%;
		--destructive: 0 62.8% 30.6%;
		--destructive-foreground: 0 0% 98%;
		--border: 240 3.7% 15.9%;
		--input: 240 3.7% 15.9%;
		--ring: 240 4.9% 83.9%;
		--chart-1: 220 70% 50%;
		--chart-2: 160 60% 45%;
		--chart-3: 30 80% 55%;
		--chart-4: 280 65% 60%;
		--chart-5: 340 75% 55%;
	}
}
.shadow_topBar--text {
	text-shadow: 0px 0px 20px #ffffff49;
}

body{
	overflow-x: hidden;
}

.text_glow {
	text-shadow: 0px 0px 20px #ffffff21;
}

::-webkit-scrollbar {
	width: 10px;
	background-color: #0f0f0f;
}

::-webkit-scrollbar-thumb {
	background-color: #616161;
}

pre {
	background: #1d1d1d !important;
	border-radius: 0.5rem;
	color: #fff;
	font-family: "JetBrainsMono", monospace;
	padding: 0.75rem 1rem;
	border: none !important;
	code {
		background: black;
		color: inherit;
		font-size: 0.8rem;
		padding: 0;
	}

	.hljs-comment,
	.hljs-quote {
		color: #616161;
	}

	.hljs-variable,
	.hljs-template-variable,
	.hljs-attribute,
	.hljs-tag,
	.hljs-name,
	.hljs-regexp,
	.hljs-link,
	.hljs-name,
	.hljs-selector-id,
	.hljs-selector-class {
		color: #f98181;
	}

	.hljs-number,
	.hljs-meta,
	.hljs-built_in,
	.hljs-builtin-name,
	.hljs-literal,
	.hljs-type,
	.hljs-params {
		color: #fbbc88;
	}

	.hljs-string,
	.hljs-symbol,
	.hljs-bullet {
		color: #b9f18d;
	}

	.hljs-title,
	.hljs-section {
		color: #faf594;
	}

	.hljs-keyword,
	.hljs-selector-tag {
		color: #70cff8;
	}

	.hljs-emphasis {
		font-style: italic;
	}

	.hljs-strong {
		font-weight: 700;
	}
}

.parent_backdrop--blur::before {
	content: "";
	position: absolute;
	inset: 0;
	border-radius: 0.75rem;
	backdrop-filter: blur(50px);
	z-index: -1;
}

.parent_backdrop--blur-smol::before {
	content: "";
	position: absolute;
	inset: 0;
	border-radius: 0.75rem;
	backdrop-filter: blur(10px);
	z-index: -1;
}

.workspace-top-bar::before {
	content: "";
	position: absolute;
	inset: 0;
	backdrop-filter: blur(10px);
	z-index: -1;
}

.prose
	:where(code):not(
		:where([class~="not-prose"], [class~="not-prose"] *)
	)::before,
.prose
	:where(code):not(
		:where([class~="not-prose"], [class~="not-prose"] *)
	)::after {
	content: "";
}

.width-transition {
	transition: 0.4s all cubic-bezier(0.76, 0, 0.24, 1);
}

.custom-transition-all {
	transition: 0.4s all cubic-bezier(0.76, 0, 0.24, 1);
}

.custom-transition-all-150 {
	transition: 0.4s all cubic-bezier(0.76, 0, 0.24, 1);
}

.gradient-blur {
	position: absolute;
	z-index: 5;
	inset: auto 0 0 0;
	height: 100%;
	pointer-events: none;
}
.gradient-blur > div,
.gradient-blur::before,
.gradient-blur::after {
	position: absolute;
	inset: 0;
}
.gradient-blur::before {
	content: "";
	z-index: 1;
	backdrop-filter: blur(0.5px);
	mask: linear-gradient(
		to bottom,
		rgba(0, 0, 0, 0) 0%,
		rgba(0, 0, 0, 1) 12.5%,
		rgba(0, 0, 0, 1) 25%,
		rgba(0, 0, 0, 0) 37.5%
	);
}
.gradient-blur > div:nth-of-type(1) {
	z-index: 2;
	backdrop-filter: blur(1px);
	mask: linear-gradient(
		to top,
		rgba(0, 0, 0, 0) 12.5%,
		rgba(0, 0, 0, 1) 25%,
		rgba(0, 0, 0, 1) 37.5%,
		rgba(0, 0, 0, 0) 50%
	);
}
.gradient-blur > div:nth-of-type(2) {
	z-index: 3;
	backdrop-filter: blur(1px);
	mask: linear-gradient(
		to top,
		rgba(0, 0, 0, 0) 25%,
		rgba(0, 0, 0, 1) 37.5%,
		rgba(0, 0, 0, 1) 50%,
		rgba(0, 0, 0, 0) 62.5%
	);
}
.gradient-blur > div:nth-of-type(3) {
	z-index: 4;
	backdrop-filter: blur(3px);
	mask: linear-gradient(
		to top,
		rgba(0, 0, 0, 0) 37.5%,
		rgba(0, 0, 0, 1) 50%,
		rgba(0, 0, 0, 1) 62.5%,
		rgba(0, 0, 0, 0) 75%
	);
}
.gradient-blur > div:nth-of-type(4) {
	z-index: 5;
	backdrop-filter: blur(5px);
	mask: linear-gradient(
		to top,
		rgba(0, 0, 0, 0) 50%,
		rgba(0, 0, 0, 1) 62.5%,
		rgba(0, 0, 0, 1) 75%,
		rgba(0, 0, 0, 0) 87.5%
	);
}
.gradient-blur > div:nth-of-type(5) {
	z-index: 6;
	backdrop-filter: blur(10px);
	mask: linear-gradient(
		to top,
		rgba(0, 0, 0, 0) 62.5%,
		rgba(0, 0, 0, 1) 75%,
		rgba(0, 0, 0, 1) 87.5%,
		rgba(0, 0, 0, 0) 100%
	);
}
.gradient-blur > div:nth-of-type(6) {
	z-index: 7;
	backdrop-filter: blur(20px);
	mask: linear-gradient(
		to top,
		rgba(0, 0, 0, 0) 75%,
		rgba(0, 0, 0, 1) 87.5%,
		rgba(0, 0, 0, 1) 100%
	);
}
.gradient-blur::after {
	content: "";
	z-index: 8;
	backdrop-filter: blur(30px);
	mask: linear-gradient(to top, rgba(0, 0, 0, 0) 87.5%, rgba(0, 0, 0, 1) 100%);
}
